<launch>
		
	<!-- joy node -->
  	<node respawn="true" pkg="joy"
        	type="joy_node" name="joy_stick" >
    	<param name="dev" type="string" value="/dev/input/js0" />
    	<param name="deadzone" value="0.12" />
  	</node>

	<!-- control node-->
	<node name="control_node" pkg="joy_bot" type="control.py" output="screen" />

	<!-- serial node-->
	<node name="serial_node" pkg="joy_bot" type="serial_node.py" output="screen" />
	

</launch>
	
